/*toggle = alternar --  // se estiver 
visível esconde, se estiver escondido 
mostra*/

.container {
    
    /*o fato de width estar zero
    torna o container invisível*/
    width: 0px;
    /*esse valor de 90% é para 
    o container se alinhar 
    com a section e o content
    que está na section*/
    height: 90%;

    background: #1498cf;
    border-radius: 25px;
  
    justify-content: center;
    /*alinhando o texto do container*/
    align-items: center;

    /*PARA FAZER A TRANSIÇÃO DO 
    CONTAINER, TEM QUE SER
    TRANSITION E NÃO TRANSITION-DELAY*/
    transition: 0.5s;
    transition-delay: 0.5S;
}

/*selecionar o container
quando ele estiver com a classe active*/
/*diferente do content a class active
tem que estar junto a class container
.container.active
e não .container . active*/
.container.active {
   
    width: 290px;
    height: 500px;
    /*transição do popu(box)
    efeito aparece*/

    transition: 0.5s;
}

.content{
    /*alinhando os elementos de acordo com 
    a box do conteúdo de .container*/
    margin-left: -50px;
    
}

.container::before {
    /*tem que dar espaço entre as aspas
    para alterar valores de posição*/
    content: ' ';
    position: absolute;
    /*para ser visualizado emabaixo*/
    bottom: -12px;
    left: 8px;
    width: 40px;
    height: 40px;
    background: #040305;
    border-radius: 5px;
    /*girando o objeto em 45 graus*/
    transform: rotate(45deg);
    /*invisible*/
    opacity: 1;

    transition: 0.5s;
}

.container.active::before {
    /*1 na opacity é 100%*/
    opacity: 1;

    
    transition-delay: 0.5s;
}

.togglebtn {
    position: absolute;
    min-width: 60px;
    height: 60px;
    background: #1498cf;
    bottom: -22px;
    /*para arrendondar o objeto
    50% no border-radius*/
    border-radius: 50%;
    /*passar o mouse por cima e 
    aparecer a mãozinha*/
    cursor: pointer;
    /*quando tirar o mouse a transição
    ser mais suave*/
    transition: 0.5s;
}

.container.active .togglebtn {
    bottom: -25px;
    transform: rotate(135deg);
    background: #b6e9f8;

    transition: 0.5s;
}

/*ao passar o mouse muda a cor
do círculo BTN*/
.togglebtn:hover {
    background: #000;

    transition: 0.5s;
}

/*é  o + dentro do botão*/
.togglebtn::before {
    /*alinhando o texto +
    do content*/
    position: absolute;
    top: 18%;
    left: 32%;
    content: '+';
    font-size: 2.5em;
    color: #fff;
    transition: 0.5s;
}
/*quando estiver no active mudando
a cor do hover do berfore*/
.container.active .togglebtn:hover::before {
    color: #040305;

    transition: 0.5s;
}

/* ao passar o mouse mudar a cor
do + dentro do botão*/
.togglebtn:hover::before {
    color: #1498cf;
    transition: 0.5s;
}

/*mexendo no conteúdo do container(box/popup)*/
.container .content {
    min-width: 400px;

    padding: 40px;

    
    opacity: 0;
    transform: scale(0);

    transition: 0.5s;
}

.container.active .content {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.8s;
}

.container .content h2 {
    /*Espaçamento entre o título e o
    parágrafo*/
    padding-bottom: 20px;
    text-transform: uppercase;
}

.container .content p {
    font-weight: bold;
    font-family: Helvetica;
    color: #fff;
}
