@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}


.principal{
  /*ocupa 100% da tela com estas configurações*/
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(to bottom, #000000 30%, #241f1f 70%,#292828 100% );*/
  background-image: url(img/sallonBackground.jpg);
  /*config padrões para background*/
  background-position: center top;
  background-repeat: no-repeat;   
  background-size: cover;
  
}

/*A IMAGEM DA PLACA COM A LOGO*/

.principal img{
  /*REMOVE O ESPAÇAMENTO ENTRE A IMAGEM
  E A DIV ABAIXO, pois a img se não declarado
  o vertical-align já vem com valor padrão*/
  vertical-align: top;
  margin-left: 0;
  
}

.principal .menu h1{
  color: #c57751;
  font-size: 40px;
  font-family: 'Smokum', cursive;
  

  margin-top: 15px;
  
}
.principal .menu{
width: 100px;
height: 600px;
display: inline-block;
position: relative;

text-align: center;
left: 5px;
top: 10px;
bottom: 10px;

background: linear-gradient(to bottom, #000000 30%, #241f1f 70%,#dd4509 100% );
/*background: linear-gradient(to bottom, #00000080, #6b3c2550);*/
border-radius: 20px;
box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
overflow: hidden;



border: #fff solid 3px;

justify-content: center;/*alinha na horizontal*/
/*align-items: center; na vertical*/

}


.meio{
   
  width: 65%;
  height: 100vh;
  float: right;

  display: inline;

}
.meio1 h1{
  position: relative;
  
  color: #c57751;
}

/*CARD CENTRAL*/
.meio .card{
  position: relative;
  width: 230px;
  height: 310px;
  margin: 30px;

  left: -30px;

  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  border-radius: 15px;
  background: rgba(255,255,255, 0.1);
  overflow: hidden;
  display: flex;

  justify-content: center;
  align-items: center;

  border-top: 1px solid rgba(255,255, 255, 0.5);
  border-left: 1px solid rgba(255,255, 255, 0.5);

  /*para dsfocar da imagem de fundo*/
  backdrop-filter: blur(2px);

}
.meio .card .content{

  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 1.5s;
}

.meio .card:hover .content{
transform: translateY(0);
opacity: 1;
transition: 1.6s;
}
.meio .card .content h2{
  position: absolute;
  top: -36px;
  right: 30px;
  font-size: 8em;
  color: rgba(255,255,255, 0.05);
  font-family: 'Smokum', cursive;
  pointer-events: none;
}
.meio .card .content h3{
  font-size: 1.8em;
  color: #c57751;
  font-family: 'Smokum', cursive;
  z-index: 1;
  }
  .meio .card .content p{
      font-size: 0.8em;
      color: #fff;
      font-weight: 300;
      font-family: 'Times New Roman', Times, serif;
      
  }
  .meio .card .content a{
      position: relative;
      display: inline-block;

      padding: 8px 20px;
      margin-top: 15px;
      background: #fff;
      color: #000;
      text-decoration: none;
      border-radius: 20px;
      font-weight: 500;
      box-shadow: 0 5px 15px rgba(0,0,0, 0.2);

      font-family: 'Smokum', cursive;
  }

