*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*estrutura matriz*/
.flip-card{
    background-color: transparent;
    width: 190px;
    height:245px;
    perspective 1000px;
    font-family: sans-serif;
    cursor: pointer;
    }
    .title{
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin:0;
    }
    /*responsável por abrigar as divs com conteúdo cas cartas*/
    .flip-card-inner{
        position: relative;
        width: 100%;
        height:100%;
        text-align:center;
        transition: transform 0.8s;
        /*nas rotações comunns o eixo Z é ignorado
        com a propriedade preserve-3d não*/
        transform-style: preserve-3d;
        }
        /*quando passar o mouse sobre a matriz
        os conteúdos DIV que tem dentro da
        DIV flip-card-inner se alteram, porque
        oque vai girar é a DIV PAI, flip-card-inner*/
        .flip-card:hover .flip-card-inner{
        transform: rotateY(180deg);
                }
        .flip-card-front, .flip-card-back{
            box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
            /*é ABSOLUTE, ou seja, em relação
            a um elemento PAI, que no caso
            é flip-card-inner, que está configurado como RELATIVE*/
            position: absolute;
            display:flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height:100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border:1px solid coral;
            border-radius: 1rem;
            }
            .flip-card-front{
                background: url('behindcard.png');
                background-repeat: no-repeat;
                background-size: 100% 245px;
                }
                .flip-card-back{
                background: url('frontcard.jpg');
                color: rgb(126, 25, 25);
                /*gira a carta de trás para que o texto
                não apareça ao contrário*/
                transform: rotateY(180deg);
                background-repeat: no-repeat;
                background-size: 100% 245px;
                }
        .flip-card-back:hover{
            filter: blur(3px);
            transition: filter 3s ease-out;
            
        }