@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: #1d1d2e;
}
.user{

    position: relative;
    
    left: 20px;
    right: 0;
    top: 20px;
    bottom: 20px;
   

        text-align: center;
        

    width: 330px;
    height: 520px;
    
    padding-top: 15px;
    
    background: #7d7d85;

    border-radius: 10px;

    border: 4px solid #749bbe;
}

.user ol{
    /*list-style-image: ;*/
    /*list-style-position: outside;*/
    list-style-type: none;
}

.user h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    
}
.user h1:hover{
    font-size: 40px;
  color: #4ea2f0;
 text-decoration: none;
 
transition: 0.2s;
   
 }

.user a{
  text-decoration: none;    
}

.user h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4ea2f0;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 3px #1d1d2e;
    
    
}

.user h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1d1d2e;
    font-size: 50px;
    font-weight: bold;
    
    
    
}

.user h3:hover{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: bold;
     
    transition: 0.3s;
}
